@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KBO-Dia-Gothic_nomal';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_namal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'KBO-Dia-Gothic_medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_medium.woff') format('woff');
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


.dia_n{
    font-family: "KBO-Dia-Gothic_nomal";
}
.dia_m{
    font-family: "KBO-Dia-Gothic_medium";
}

.dia_b{
    font-family: "KBO-Dia-Gothic_bold";
}
.yg_jalnan{
    font-family: 'yg-jalnan';
}