@import "_mixin";



.mf_big{
    
}
.mf_nom{
    font-size: 2.5625rem;
}

.mf_uo{
    font-size: 1.875rem;
}
.mf_lom{
    font-size: 1.75rem;
}

.mf_som{
   font-size:  1.125rem;
}

.mf_bom{
    font-size: 1.625rem;
}
.mf_dd{
    font-size: 1.3125rem;
}


.mf_shot{
    font-size: 1.0625rem;
}

.mf_default{
    font-size: 1rem;
}
.mf_xom{
    font-size: 0.875rem;
}
.mf_small{
    font-size: 0.75rem;
}



//title
.sm_title{
}
.big_title{
}



#contents{
    padding-top: 100px;
    width: 90%;
    margin: 0 auto;
}

.mt{
    margin: 100px 0 0;
}

.mb{
    margin: 0 0 100px 0;
}


#deps01{
    
    article{
        @include flex_between;
        .swiper_area{
            width: 69%;
            position: relative;
            overflow: hidden;
            .swiper{
                height: 100%;
            }
            .swiper-slide{
                a{
                    position: relative;
                    span{
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        background: rgba(255,255,255,.5);
                        padding: 20px;
                        font-weight: 800;
                        font-size: 1.125rem;
                        text-align: center;
                    }
                }
                img{
                    height: 100%;
                    width: 100%;
                    // object-fit: cover;
              
                }
            }
        }
        .day_menu{
            width: 34%;
            background: #1A6E41;
            margin: 0 0 0 1%;
            position: relative;
            .cont{
                padding: 5% 5% 2% 5%;
                height: 100%;
                display: flex;
                flex-direction: column;
                b{
                    color: #fff;
                    font-weight: 700;
                    display: block;
                    text-align: center;
                    margin: 5px 0;
                }
                figure{
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .top{
                border-radius: 100px 100px 0 0;
                position: absolute;
                top: -35px;
                right: 0;
                background: #1A6E41;
                width: 54%;
                height: 35px;
                z-index: 100;
                ul{
                    @include flex_end;
                    li{
                       a{
                            color: #fff;
                       }
                    }
                }
          
            }
            li{
                &.login{
                    
                }
                &.join{
                    
                }
                &.basket{
                    i{
                        background: url("../img/basket_icon.png")no-repeat;
                    }
                }
            }
            
        }
        .swiper-button-next{
            background:url("../img/arrow_next.png")no-repeat;
            background-size:28px 56px;
            width: 28px;
            height: 56px;
        }
        .swiper-button-prev{
            background:url("../img/arrow_prev.png")no-repeat;
            background-size:28px 56px;
            width: 28px;
            height: 56px;
        }
    }
}

#deps02{
    margin: 30px 0 100px;
    ul{
        @include flex_between;
        li{
            width: 49%;
            span{
                display: block;
                small{
                    display: block;
                    color: #fff;
                    margin: 10px 0 0;
                }
                .bg{
                    color: #1A6E41;
                    background: #fff;
                    padding: 2px 2px;
                }
                
            }
            b{
                color: #fff;
            }
        }
    }
 
    .d01{
        background: url("../img/banner01.png")no-repeat center/cover;
        width: 100%;
        padding: 50px 15%;
        @include al_center;
        margin: 0 2% 0 0;
    }
    .d02{
        background: url("../img/banner02.jpg")no-repeat center/cover;
        width: 100%;
        padding: 65px 15%;
        @include al_center;

        a{
            @include flex_between;
            align-items: center;
        }
        .txt{
            width: 100%;
        }
      
    }
}

#deps03{
    margin: 50px 0 100px;
    position: relative;
    .container{
        text-align: center;
    }

    .title{
        margin:0 0 50px 0;
        p{
            padding: 10px 0 0;
        }
    }
    .m_day_box{
        display: none;
    }
    .day{
        ul{
            @include flex_around;
            max-width: 1800px;
            width: 90%;
            margin: 0 auto;
            background: #F1F1F1;
            padding: 25px 0;
            border-radius: 50px;
        }
    }
    .table{
        max-width: 1800px;
        width: 90%;
        margin: 0 auto;  

        
       .schedule {
            width: 100%;
            display: flex;
  
            text-align: center;
            flex-wrap: wrap;
            border-bottom: 3px solid #E1E1E1;
           
            &.saturday{
                border-bottom: 0;
             }
        
            >li{
                flex: 1 1 13%;
                position: relative;
                &.arrow_box{
                    width: 100%!important;
                    height: 3px;
                    background: #E1E1E1;
                }
                &.last{
                    &:after{
                        display: none;
                    }
                }
            
                &:after{
                    content: "";
                    display: block;
                    width: 1px;
                    height: 90%;
                    background: #707070;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(0,-50%);
                }
              
                .box{
                    margin: 30px 0;
                    padding: 0 20px;
                    .plus_menu{
                        h5{
                            border-top: 2px solid #707070;
                            border-bottom: 2px solid #707070;
                            color: #FF3717;
                            padding: 5px 0;
                        }
                        .row{
                            display: flex;
                            justify-content: center;
                            text-align: left;
                            margin: 10px 0;
                            li{
                                margin: 0 0 5px 0;
                                &:last-child{
                                    margin: 0;
                                }
                            }
                            label{
                                display: block!important;
                          
                               
                            }
                                                  
                            .chk_box{
                                display: none;
                            }
                          
                            input + label{
                                cursor:pointer;
                                display: flex;
                                &:before{
                                    content:"";
                                    display:inline-block;
                                    width:17px;
                                    height:17px;
                                    min-width: 17px;
                                    border: 1px solid #000;                   
                                    box-sizing: border-box;
                                    vertical-align:middle;
                                    transition: all .5s;
                             
                                }
                                > span{
                                    vertical-align: middle;
                                    text-align: left;
                                    font-weight: 600;
                                    margin: 0 0 0 3px;
                                }
                            }                              
                
                            input:checked + label{
                                &:before{
                                    content: '';
                                    background: url("../img/check_in.png");
                                    border: 0;
                                    background-repeat: no-repeat;
                                    background-size: 17px 17px;
                       
                                }
                            }
                            
                        }
                    }
                }
                h4{
                    font-weight: 900;
                }
                ol{
                    margin: 20px 0;
                    line-height: 1.8;
                    li{
                        word-break: break-all!important;
                        font-weight: 600;
                        &.blo{
                            color: #FF3717;
                           
                        }
                    }
                }
                .opt_count{
                    position: relative;
                    margin: 10px 0 0;
                    .sound_only{
                        display: inline-block !important;
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin: 0 !important;
                        padding: 0 !important;
                        width: 1px !important;
                        height: 1px !important;
                        font-size: 0;
                        text-indent: -9999em;
                        line-height: 0;
                        border: 0 !important;
                        overflow: hidden !important;
                    }
                    .num_input{
                        width: 40px;
                        text-align: center;
                        border: 0;
                    }
                    button{
                        border: 1px solid #eee;
                        background: #eee;
                        width: 30px;
                        height: 30px;
                        color: #000;
                    }
                }
            }
           
       }
    }
}



#quick{
    position: absolute;
    right:0px;
    top: 0;
    height: 100%;
    z-index: 99;
    pointer-events: none;
    width: auto;
    .talk_bar{
       
        width: 61px;
        height: 61px;
        position: absolute;
        right: 0;
        img{
            border: 1px solid #ddd;
            border-radius: 100%;
        }
       
    }
    &.quick-bar{
       
        &.on{
            article{
                position: fixed;
                top: 130px;
                right: 90px;
                
            }
          
        }
    }
    .cs_box{
        .top{
            margin: 0 0 10px 0;
        }
        li{
            margin: 10px;
            b{
                font-weight: 800;
            }
        }
    }
    article{
        position: sticky;
        top: 15%;
        box-sizing: border-box;
        pointer-events: auto;

    }
    .top{
        button{
            display: block;
            &.basket_btn{
                border: 0;
                border: 1px solid #57C188;
                padding: 15px 20px;
                background: #fff;
                border-radius: 50px;
                width: 100%;
                margin: 0 0 10px 0;
                i{
                    margin: 0 10px 0 0;
                }
            }
            &.tel_btn{
                border: 0;
                border: 1px solid #FFFF00;
                padding: 15px 20px;
                background: #FFFF00;
                border-radius: 50px;
                width: 100%;
                margin: 0 0 10px 0; 
                i{
                    margin: 0 10px 0 0;
                }
            }
            &.pay_btn {
                border: 0;
                background: #000;
                padding: 15px 20px;
                border-radius: 50px;
                color: #fff;
                width: 100%;
                i{
                    margin: 0 10px 0 0;
                }
            }
        }
        .txt{
            text-align: center;
            padding: 10px 0;
            h3{
                font-weight: 800;
            }
            p{
                margin: 5px 0;
                b{
                    color: #1A6E41;
                }
            }
            .total{
                font-weight: 800;
                b{
                    color: #1A6E41;
                }
            }
        }
    }
    .container{
        padding: 20px;
        position: sticky;
        -webkit-position: sticky;
        top:0%;
        box-sizing: border-box;
        pointer-events: auto;
        border: 1px solid #ddd;
        border-radius: 30px;
        margin: 0 0 10px 0;
        background: #fff;
        &:last-child{
            margin: 20px 0 0;
        }
    }
    .swiper_area{
        width: 200px;
        overflow: hidden;
        position: relative;
        padding: 10px 0 30px 0;
        .arr{
            position: relative;
            top: 35px;
            width: 100px;
            margin: 0 auto;
            .swiper-button-prev{
                background: url("../img/quick_prev.png")no-repeat;
                background-size: 10px 15px;
                width: 10px;
                height: 15px;
            }
            .line{
                width: 2px;
                height: 20px;
                background: #707070;
            }
            .swiper-button-next{
                background: url("../img/quick_next.png")no-repeat;
                background-size: 10px 15px;
                width: 10px;
                height: 15px;
            }
            .line{
                width: 2px;
                height: 15px;
                background: #707070;
                position: absolute;
                top: -22px;
                left: 50%;
            }
        }
        .swiper-wrapper{
            //flex-direction: column;
        }
        .swiper-slide{
            width: 100%!important;
        }
        .choice{
            @include flex_between;
            margin: 0 0 10px 0;
            .option_box{
                text-align: left;
      
            }
            h4{
                color: #000;
                margin: 0 0 5px 0;
            }
            ul{
                color: #707070;
            }
            .close{
                img{
                    width: 17px;
                }
            }
        }
        .opt_count{
            position: relative;
 
            .sound_only{
                display: inline-block !important;
                position: absolute;
                top: 0;
                left: 0;
                margin: 0 !important;
                padding: 0 !important;
                width: 1px !important;
                height: 1px !important;
                font-size: 0;
                text-indent: -9999em;
                line-height: 0;
                border: 0 !important;
                overflow: hidden !important;
            }
            .num_input{
                width: 25px;
                text-align: center;
                border: 0;
            }
            button{
                border: 1px solid #eee;
                background: #eee;
                width: 20px;
                height: 20px;
            }
        }
    }
}


#m_quick{
    position: fixed;
    right:0px;
    bottom:0;

    z-index: 99;
    width: 100%;
    height: auto;
    display: none;
    .open{
        background: #1A6E41;
        width: 100%;
        border-radius: 50px 50px 0 0;
        color: #fff;
        padding: 5px;
        text-align: center;
        &.on{
            .arrow{
        
                &:after{
                    top: 10px;
                    transform: rotate(-45deg);
                }
            }
        }
        i{
            margin: 0 10px 0 0;
        }
        img{
            filter: invert(1);
            width: 28px;
        }
        .arrow {
            position: relative;
            margin: 0px 0 0 10px;
       
        }
        
        .arrow::after {
            position: absolute;
            left: 0;
            top: 5px;
            content: "";
            width: 10px;
            height: 10px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: rotate(135deg);
            transition: all 0.5s ease-in-out;
        }

    }
    .talk_bar{
       
        width: 61px;
        height: 61px;
        position: absolute;
        right: 0;
        img{
            border: 1px solid #ddd;
            border-radius: 100%;
        }
       
    }
    &.quick-bar{
       
        &.on{
            article{
                position: fixed;
                top: 130px;
                right: 90px;
                
            }
          
        }
    }
    .cs_box{
        .top{
            margin: 0 0 10px 0;
        }
        li{
            margin: 10px;
            b{
                font-weight: 800;
            }
        }
    }
 
    button{
        display: block;
        color: #000;
        &.basket_btn{
            border: 0;
            text-align: left;
            padding: 15px 20px;
            background: #fff;
            width: 100%;

            i{
                margin: 0 10px 0 0;
            }
        }
        &.tel_btn{
            border: 0;
            border: 1px solid #FFFF00;
            padding: 15px 20px;
            background: #FFFF00;
            border-radius: 50px;
            width: 100%;
            margin: 0 0 10px 0; 
            i{
                margin: 0 10px 0 0;
            }
        }
        &.pay_btn {
            border: 0;
            background: #000;
            padding: 10px 20px;
            border-radius: 50px;
            color: #fff;
            width: 100%;
            i{
                margin: 0 10px 0 0;
            }
        }
    }
   
    .container{
        padding: 0px 50px;
        box-sizing: border-box;
        background: #fff;
        width: 100%;

    
    }
    .top{
        h3{
            font-weight: 800;
            i{
                margin:  0 5px 0 0;
            }
        }
    }
    .txt{
        text-align: center;
        @include flex_between;
        padding: 5px 0;
        border-bottom: 1px solid #707070;
        h3{
            width: 50%;
            text-align: center;
            position: relative;
            &:after{
                content:"";
                display: block;
                width: 1px;
                height: 100%;
                background: #707070;
                position: absolute;
                top: 0;
                right:0;
            }
        }
        p{
            margin: 5px 0;
            b{
                color: #1A6E41;
            }
        }
        .total{
            width: 50%;
            text-align: center;
            font-weight: 800;
            b{
                color: #1A6E41;
            }
        }
    }
    .swiper_area{
        width:100%;
        overflow: hidden;
        position: relative;
        padding: 10px 0 40px 0;
       
        .swiper{
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            border-top: 1px solid #707070;
            border-bottom: 1px solid #707070;
        }
        .arr{
            position: relative;
            top: 35px;
            width: 100px;
            margin: 0 auto;
            .swiper-button-prev{
                background: url("../img/quick_prev.png")no-repeat;
                background-size: 10px 15px;
                width: 30px;
                height: 25px;
            }
            .line{
                width: 2px;
                height: 20px;
                background: #707070;
            }
            .swiper-button-next{
                background: url("../img/quick_next.png")no-repeat right top;
                background-size: 10px 15px;
                width: 30px;
                height: 25px;
            }
            .line{
                width: 2px;
                height: 15px;
                background: #707070;
                position: absolute;
                top: -22px;
                left: 50%;
            }
        }
        .swiper-wrapper{
            //flex-direction: column;
        }
        .swiper-slide{
           // width: 100%!important;
            text-align: center;           
            height: calc((100% - 30px) / 2) !important;

 
            display: flex;
            align-items: center;
            flex-direction: column;
        
            // &:after{
            //     content: "";
            //     display: block;
            //     width: 1px;
            //     height: 90%;
            //     background: #707070;
            //     position: absolute;
            //     top: 50%;
            //     right: 0;
            //     transform: translate(0, -50%);
            // }
        }
        .choice{
            @include flex_between;
            align-items: start;
            padding: 20px 30px;
            width: 100%;
            .option_box{
                text-align: left;
                display: flex;
                width: 70%;
            }
            h4{
                color: #000;
                margin: 0 10px 0 0;
            }
            ul{
                color: #707070;
            }
            .close{
                img{
                    width: 17px;
                    vertical-align: top;
                }
            }
        }
        .opt_count{
            position: relative;
            display: flex;
            align-items: center;
            width: 30%;
            .sound_only{
                display: inline-block !important;
                position: absolute;
                top: 0;
                left: 0;
                margin: 0 !important;
                padding: 0 !important;
                width: 1px !important;
                height: 1px !important;
                font-size: 0;
                text-indent: -9999em;
                line-height: 0;
                border: 0 !important;
                overflow: hidden !important;
            }
            .num_input{
                width: 30px;
                text-align: center;
                border: 0;
            }
            button{
                border: 1px solid #eee;
                background: #eee;
                width: 20px;
                height: 20px;
            }
        }
    }
}


/* ======================= 1920 =============================*/
@include breakpoint_desktop_1920 {
    #deps03 {
        .day{
            ul{
                width: 80%;
            }
        }
        .table{
            width: 80%;
        }
    }
    #quick {
        right: -80px;
        &.quick-bar{
            &.on {
                article{
                    right:15px;
                    top: 105px;
                }
            }
        }
       
        
    }
    
    
}

/* ======================= 1600 =============================*/
@include breakpoint_desktop_1600 {
    .mf_nom {
        font-size: 1.75rem;
    }
    #deps02 {
        .d01{
            padding: 50px 5%;
        }
        .d02{
            padding: 55px 5%;
        }
    }
    
}
/* ======================= 1440 =============================*/
@include breakpoint_desktop_1440{
  
 

}

/* ======================= 1360 =============================*/
@include breakpoint_desktop_1360{
    
}


/* ======================= 1280 =============================*/
@include breakpoint_desktop_1280{
    #quick{
        display: none;
    }
    #m_quick{
        display: block;
        .container{
            display: none;
        }
    }
    #deps01 {
        article {
            .swiper_area{
                width: 85%;
            }
            .day_menu{
                width: 50%;
            }
        }
    }
    #deps02 {
        margin: 15px 0 50px;
        ul{
            flex-direction: column;
            li{
                width: 100%;
                &:first-child{
                    margin: 0 0 15px 0;
                }
            }
        }
    }
   
    #deps03 {
        .day {
            ul{
                padding: 15px 0;
                width: 100%;
            }
        }
        .table{
            width: 100%;
        }
    }
}




/* ======================= 1114 =============================*/
@include breakpoint_tablet_1114{
    
}





/* ======================= 1024 =============================*/
@include breakpoint_tablet_1024{
    #contents{
        padding-top: 75px;
    }
    #deps02 {
        .d01{
            padding: 40px 5%;
        }
        .d02{
            padding: 45px 5%;
        }
    }
 
    #deps03 {
        .day_box{
            display: none;
        }
        .m_day_box{
            display: block;
            .day{
                display: none;
            }
            .table{
                .schedule{
                    
                    >li{
                        flex: none;
                        width: 33.33%;
                    }
                }
            }
        }
        .day {
            ul{
                flex-direction: column;
                justify-content: space-between;
                width: 100px;
                height: 100%;
                padding: 0;
            }
        }
        .table{
            flex-direction: column;
            .schedule{
                width: auto;
                display: flex;  
                flex-wrap: wrap;
                >li{
                     flex: 1 1 25%;
                   // float: left;
                    width: 25%;
                }//
            }
        }
        
    }
}

/* ======================= 991 =============================*/
@include breakpoint_tablet_991{
    
}



/* ======================= 768 =============================*/
@include breakpoint_tablet_768{
    #deps01 {
        article {
            .swiper-button-next{
                background-size: 20px 40px;
                width: 20px;
                height: 40px;
                right: 0;
            }
            .swiper-button-prev{
                background-size: 20px 40px;
                width: 20px;
                height: 40px;
                left: 0;
            }
            .swiper_area{
                width: 50%;
            }
        }
    }
    
    #deps02{
        display: none;
    }
    #deps03 {
        margin: 50px 0 50px;
        .table{
            .schedule {
                > li{
                    flex: 1 1 35%;
                }
            }
        }
    }

    
    #m_quick {
        .container{
            padding: 0 20px 20px;
        }
      .swiper_area {
        .choice{
            padding: 20px 10px;
        }
      }
    }
}


/* ======================= 640 =============================*/
@include breakpoint_mobile_640{

}

/* ======================= 540 =============================*/
@include breakpoint_mobile_540{
    #contents{
        padding-top: 55px;
    }
    #deps03 {
        .table {
            .schedule {
                > li {
                    .box{
                        padding: 0 7px;
                    }
                }
            }
        }
    }
}


/* ======================= 480 =============================*/
@include breakpoint_mobile_480{
    .mf_shot{
        font-size: .9rem;
    }
    #m_quick {
        .swiper_area {
            .choice{
                padding: 20px 10px;
            }
        }
    }

    #deps03 {
        .table {
            .schedule {
                > li {
                    .box {
                        .plus_menu{
                            .row {
                                input + label{
                                    >span{
                                        &.mf_xom{
                                            font-size: .8rem;
                                        }
                                    }
                                }
                            }
                            h5{
                                padding: 2px 0;
                                &.mf_shot{
                                    font-size: .8rem;
                                }
                               
                            }
                        }
                    }
                    .opt_count {
                        .num_input{
                            width: 25px;
                        }
                        button{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}

/* ======================= 414 =============================*/
@include breakpoint_mobile_414{
    #deps01{
        article{
            flex-direction: column-reverse;
            .swiper_area{
                width: 100%;
            }
            .day_menu{
                width: 100%;
                margin: 0 0 10px 0;
            }
        }
    }
    
    #m_quick {
        .container{
            padding:0 10px 20px;
        }
        .swiper_area {
            .choice {
                .option_box{
                    flex-direction: column;
                }
            }
        }
    }
    #deps03 {
        .table {
            .schedule {
                > li {
                    .box {
                        .plus_menu {
                            .row {
                                input + label {
                                    > span{
                                        &.mf_xom{
                                            font-size: 0.6875rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
